@media only screen and (min-width: 450px) {
  main {
    font-size: 75%;
  }
  main {
    font-size: 75%;
  }
}

main {
  margin: 5rem auto;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main h1 {
  font-size: 3.5rem;
}

.rules {
  padding: 1.5rem;
}

.rules h4 {
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 0.5rem;
}

.rules p {
  font-size: 1.6rem;
  color: var(--ternary-color);
}

main h3 {
  font-size: 2.4rem;
  margin-top: 2rem;
}

ul {
  margin: 1.5rem;
}

li {
  font-size: 1.6rem;
  margin: 0.5rem;
  color: var(--ternary-color);
}

.take-quiz-container {
  display: flex;
  justify-content: flex-end;
}

.take-quiz-btn {
  font-size: 1.8rem;
  padding: 0.8rem;
  margin: 0.5rem 0rem;
  font-weight: bolder;
  border-radius: 0.5rem;
  background-color: var(--fifth-color);
  border: none;
  color: var(--secondary-color);
}

.take-quiz-btn:hover {
  background-color: var(--sixth-color);
}
