/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 10vh;
  max-width: 80rem;
  height: 75vh;
  margin: 0rem auto 1rem auto;
  gap: 30px;
  text-align: center;
}

main h1 {
  font-size: 10rem;
}

.subheading {
  font-size: 2rem;
  color: var(--ternary-color);
}

.get-started-btn {
  padding: 1.2rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 0.5rem;
  background-color: var(--fifth-color);
  border: none;
  color: var(--secondary-color);
}

.get-started-btn:hover {
  background-color: var(--sixth-color);
}
